# Sample configuration file.
# Copy this file into a file named battery.conf and override
# the configuration there, it will be sourced by the main script.
#
# The following variables are available:
#
# nodepath="/sys/class/power_supply/battery"
# design_capacity=4300
# config_enable_vooc=1
# config_voltage_unit="microvolt"
# config_voltage_usb_unit="milivolt"
# config_force_allow_for_non_termux=false
# path_current="$nodepath/current_now"
# path_voltage="$nodepath/voltage_now"
# path_voltage_usb="$nodepath/../usb/device/ADC_Charger_Voltage"
# path_capacity="$nodepath/capacity"
# path_status="$nodepath/status"
# path_temp="$nodepath/temp"
# path_voocchg_ing="$nodepath/voocchg_ing"
# path_fastcharger="$nodepath/fastcharger"
# path_batt_fcc="$nodepath/batt_fcc"
# path_cool_down="$nodepath/cool_down"
#
# Override them by either adding a new line of it below, or,
# by uncommenting it and assigning your own value. The former
# is recommended.
#
